@media screen and (min-width:800px) 
{
*{font-family: Verdana, Geneva, Tahoma, sans-serif;}
body{background-color: beige; padding: 2px;}
.main{display: flex; flex-direction: row; }
#pre{ font-size: 35px; font-weight: bolder ; letter-spacing: 2px ; 
    font-family:Georgia, 'Times New Roman', Times, serif; margin: 20px 0 0 20px;}
#pre::first-letter{color: darkturquoise; font-size: 50px;text-shadow:  2px 4px 8px #010116}
.div2{display: flex; flex-direction: row;}
.div3{display: flex; flex-direction: row; margin: 10px auto; height: auto; }
.mrg1{ margin-left: 10%; white-space:nowrap; width: max-content; height: max-content;padding-right: 15px;}
.video{margin: 70px auto 0 auto;; width: 100%; height: 100%; position: relative;}
.video1{display: block; margin: 10px auto 0 auto;  opacity: 0.5 ; width: 100%; height: 100%;} 
.video-message{ position: absolute; top: 0; left: 0;
    display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
width:100%; height: 100;
font-size: 30px;}
.p1{text-align: justify; font-size: 25px;
text-align: center;
margin-top: 50PX;
height: max-content;}

/* content start from here */
.os{width:20%; ; ;
     font-size: 20px; margin: 20px 0 0 0;
    ; text-align: center;
    padding: 1px;}
.os::first-letter{font-size: 40PX;}
.main-con{width: max-content; margin: 0 auto; display: flex; flex-direction: row;
     background-color: rgba(124, 123, 123, 0.1);}
.services{margin: 20px 10px; width: max-content; height: max-content;
;}
.srvc-sub1{
margin-top: 10px;
padding: 5px 4px 0 4px;
line-height: 30px;
border:dashed 2px #010116
;
width: 400px; 
height: 460px;
text-align: justify;
overflow: hidden;
text-align: center;}
.q-icon{margin: 0 25%;;}
a {text-decoration: none;    
color: black;}
.subhed{letter-spacing: 1px;}
.subhed::first-letter{font-size: 40px }
.srvc-sub1:hover{background:linear-gradient( rgb(148, 218, 240) ,white 50% ); padding: 2px;}
}





























